Repository Waste-into-city/Waste-into-city-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
	"*.{js,ts,tsx,cjs,mjs}": ["eslint --fix"],
	"*.{json,html}": ["prettier --write"]
}

docs: added docs and updated files accordingly
  .prettierrc
  README.md
  eslint.config.js
  package.json
  src/App.tsx
  src/assets/icons/svg/trashcan/electronic.svg
  yarn.lock
Due: eslint --fix, prettier --write

feat: added 4 custom base controls
  src/App.tsx
  src/assets/fonts/Montserrat/Montserrat-Variable.ttf
  src/assets/icons/svg/arrow_icon.svg
  src/assets/icons/svg/hidden_password_icon.svg
  src/assets/icons/svg/showing_password_icon.svg
  src/components/providers/ThemeProvider/index.tsx
  src/components/ui/Button/config.ts
  src/components/ui/Button/index.tsx
  src/components/ui/Button/styled.ts
  src/components/ui/Dropdown/index.tsx
  src/components/ui/Dropdown/styled.ts
  src/components/ui/Input/index.tsx
  src/components/ui/Input/styled.ts
  src/components/ui/PasswordInput/index.tsx
  src/components/ui/PasswordInput/styled.ts
  src/main.tsx
  src/styles/baseTheme.ts
  src/styles/coloredTheme.ts
  src/styles/index.css
  src/styles/scrollbar.ts
  src/styles/styled.d.ts
  src/types/props/inputProps.ts
Due: eslint --fix

feat: added loader
  src/App.tsx
  src/components/ui/Dropdown/styled.ts
  src/styles/baseTheme.ts
  src/styles/common/loader.ts
  src/styles/common/scrollbar.ts
Due: eslint --fix

fix: removed size for loader
  src/styles/common/loader.ts
Due: eslint --fix

fix: removed test controls
  src/App.tsx
  src/styles/common/loader.ts
Due: eslint --fix

feat: added separate component for the main map
  src/App.tsx
  src/components/map/MainMap/config.ts
  src/components/map/MainMap/index.tsx
  src/components/map/MainMap/styled.ts
  src/styles/baseTheme.ts
Due: eslint --fix

feat: added Log In page
  src/App.tsx
  src/assets/images/jpg/city.jpeg
  src/components/ui/Button/config.ts
  src/components/ui/Button/index.tsx
  src/components/ui/Button/styled.ts
  src/components/ui/Dropdown/index.tsx
  src/components/ui/Dropdown/styled.ts
  src/components/ui/Input/index.tsx
  src/components/ui/Input/styled.ts
  src/components/ui/PasswordInput/index.tsx
  src/components/ui/PasswordInput/styled.ts
  src/hooks/useForm/helpers.ts
  src/hooks/useForm/index.ts
  src/pages/LoginPage/config.ts
  src/pages/LoginPage/helpers.ts
  src/pages/LoginPage/index.test.tsx
  src/pages/LoginPage/index.tsx
  src/pages/LoginPage/styled.ts
  src/pages/RegistrationPage/index.tsx
  src/styles/baseTheme.ts
  src/utils/renderWithProviders.tsx
Due: eslint --fix

feat: added registration page with validators
  src/App.tsx
  src/hooks/useForm/helpers.ts
  src/hooks/useForm/index.ts
  src/pages/LoginPage/config.ts
  src/pages/LoginPage/helpers.ts
  src/pages/LoginPage/styled.ts
  src/pages/RegistrationPage/config.ts
  src/pages/RegistrationPage/helpers.ts
  src/pages/RegistrationPage/index.tsx
  src/pages/RegistrationPage/styled.ts
  src/styles/baseTheme.ts
  src/types/validator.ts
  src/utils/validators/email.ts
  src/utils/validators/name.ts
  src/utils/validators/password.ts
Due: eslint --fix

feat: added base routing for pages
  src/App.tsx
  src/components/routers/AppRouter/index.tsx
  src/components/routers/SectionsRouter/index.tsx
  src/constants/routes.ts
  src/pages/LoginPage/index.tsx
  src/pages/RegistrationPage/index.tsx
Due: eslint --fix

test: tested register page and base routing
  src/App.tsx
  src/components/routers/AppRouter/index.tsx
  src/components/routers/AppRoutes/index.test.tsx
  src/components/routers/AppRoutes/index.tsx
  src/components/routers/SectionsRoutes/index.tsx
  src/pages/LoginPage/index.test.tsx
  src/pages/RegistrationPage/index.test.tsx
Due: eslint --fix

fix: added vercel.json for deploy
  vercel.json
Due: prettier --write

feat: added main page controls with protected routes and interaction section
  index.html
  src/assets/icons/svg/login_icon.svg
  src/components/common/ControlsBar/config.ts
  src/components/common/ControlsBar/index.tsx
  src/components/common/ControlsBar/styled.ts
  src/components/map/MainMap/index.tsx
  src/components/routers/AppRoutes/index.tsx
  src/components/routers/ProtectedRoute/index.tsx
  src/components/routers/SectionsRoutes/config.ts
  src/components/routers/SectionsRoutes/index.tsx
  src/components/routers/SectionsRoutes/styled.ts
  src/components/sections/NewWorkSection/index.tsx
  src/components/sections/UserAccountSection/index.tsx
  src/components/sections/UserWorksSection/index.tsx
  src/constants/routes.ts
  src/styles/baseTheme.ts
  src/styles/coloredTheme.ts
Due: eslint --fix, prettier --write

test: added comments for future testing
  src/components/common/ControlsBar/index.tsx
  src/components/routers/AppRoutes/index.test.tsx
  src/components/routers/ProtectedRoute/index.tsx
Due: eslint --fix

feat: added register api call
  package.json
  src/api/registerUser.ts
  src/components/common/ControlsBar/index.tsx
  src/components/routers/ProtectedRoute/index.tsx
  src/pages/RegistrationPage/index.tsx
Due: eslint --fix, prettier --write

fix: moved server uri to .env
  src/api/registerUser.ts
Due: eslint --fix

feat: added react-query and updated auth queries
  package.json
  src/api/registerUser.ts
  src/hooks/useForm/index.ts
  src/pages/LoginPage/index.tsx
  src/pages/RegistrationPage/index.tsx
  src/query/loginUser.ts
  src/query/registerUser.ts
  src/store/user/useUserLogs.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor: put literals into constants
  src/components/sections/UserAccountSection/AccountSettingsForm/constants.ts
  src/components/sections/UserAccountSection/AccountSettingsForm/index.tsx
  src/components/sections/UserAccountSection/AccountSettingsOptions/ThemeSwitch/constants.ts
  src/components/sections/UserAccountSection/AccountSettingsOptions/ThemeSwitch/index.tsx
Due: eslint --fix

refactor: run eslint to fix issues
  src/components/sections/UserAccountSection/AccountSettingsForm/index.tsx
  src/hooks/useForm/index.ts
Due: eslint --fix

feat: added map controls with location tracking and markers
  src/components/common/ControlsBar/styled.ts
  src/components/map/MainMap/config.ts
  src/components/map/MainMap/index.tsx
  src/components/map/MapControls/LocateControl/index.tsx
  src/components/map/MapControls/LocateControl/styled.ts
  src/components/map/MapControls/ZoomControls/index.tsx
  src/components/map/MapControls/ZoomControls/styled.ts
  src/components/map/MapControls/index.tsx
  src/components/map/MapControls/styled.ts
  src/components/map/UserMarker/index.tsx
  src/components/map/UserMarker/styled.ts
  src/components/map/WorkListMarkers/WorkMarker/index.tsx
  src/components/map/WorkListMarkers/WorkMarker/styled.ts
  src/components/map/WorkListMarkers/WorksGroupMarker/constants.ts
  src/components/map/WorkListMarkers/WorksGroupMarker/index.tsx
  src/components/map/WorkListMarkers/WorksGroupMarker/styled.ts
  src/components/map/WorkListMarkers/helpers.ts
  src/components/map/WorkListMarkers/index.tsx
  src/components/map/constants.ts
  src/components/sections/UserAccountSection/AccountSettingsOptions/ThemeSwitch/styled.ts
  src/components/ui/Button/styled.ts
  src/hooks/useUserLocationTracking/constants.ts
  src/hooks/useUserLocationTracking/helpers.ts
  src/hooks/useUserLocationTracking/index.tsx
  src/hooks/useUserLocationTracking/types.ts
  src/store/location/useCurrentLocation.ts
  src/store/location/useCurrentZoom.ts
  src/styles/baseTheme.ts
  src/styles/coloredTheme.ts
  src/types/contracts/workLookup.ts
  src/types/coordinates.ts
  src/utils/getDistanceBetweenPoints.ts
  src/utils/getMarkerGroups.ts
Due: eslint --fix

WICF-12-Add work markers, location detecting and map controls
  src/components/common/ControlsBar/styled.ts
  src/components/map/MainMap/config.ts
  src/components/map/MainMap/index.tsx
  src/components/map/MapControls/LocateControl/index.tsx
  src/components/map/MapControls/LocateControl/styled.ts
  src/components/map/MapControls/ZoomControls/index.tsx
  src/components/map/MapControls/ZoomControls/styled.ts
  src/components/map/MapControls/index.tsx
  src/components/map/MapControls/styled.ts
  src/components/map/UserMarker/index.tsx
  src/components/map/UserMarker/styled.ts
  src/components/map/WorkListMarkers/WorkMarker/index.tsx
  src/components/map/WorkListMarkers/WorkMarker/styled.ts
  src/components/map/WorkListMarkers/WorksGroupMarker/constants.ts
  src/components/map/WorkListMarkers/WorksGroupMarker/index.tsx
  src/components/map/WorkListMarkers/WorksGroupMarker/styled.ts
  src/components/map/WorkListMarkers/helpers.ts
  src/components/map/WorkListMarkers/index.tsx
  src/components/map/constants.ts
  src/components/sections/UserAccountSection/AccountSettingsForm/index.tsx
  src/components/sections/UserAccountSection/AccountSettingsOptions/ThemeSwitch/styled.ts
  src/components/ui/Button/styled.ts
  src/hooks/useForm/index.ts
  src/hooks/useUserLocationTracking/constants.ts
  src/hooks/useUserLocationTracking/helpers.ts
  src/hooks/useUserLocationTracking/index.tsx
  src/hooks/useUserLocationTracking/types.ts
  src/store/location/useCurrentLocation.ts
  src/store/location/useCurrentZoom.ts
  src/styles/baseTheme.ts
  src/styles/coloredTheme.ts
  src/types/contracts/workLookup.ts
  src/types/coordinates.ts
  src/utils/getDistanceBetweenPoints.ts
  src/utils/getMarkerGroups.ts
Due: eslint --fix

fix: increased geolocation timeout
  src/hooks/useUserLocationTracking/constants.ts
Due: eslint --fix

refactor: run lint
  src/hooks/usePagination/index.ts
Due: eslint --fix

feat: started adding work report results
  index.html
  public/app.webmanifest
  src/components/common/WorkInfoDisplay/index.tsx
  src/components/common/WorkReportResultDisplay/index.tsx
  src/components/common/WorkReportResultDisplay/styled.ts
  src/components/routers/SectionsRoutes/config.ts
  src/components/sections/AdminPanelSection/AdminPanelFields/constants.ts
  src/components/sections/AdminPanelSection/AdminPanelFields/helpers.ts
  src/components/sections/AdminPanelSection/AdminPanelFields/index.tsx
  src/components/sections/AdminPanelSection/AdminPanelFields/schema.ts
  src/components/sections/WorkInfoSection/constants.ts
  src/components/sections/WorkInfoSection/helpers.ts
  src/components/sections/WorkInfoSection/index.tsx
  src/components/sections/WorkParticipantsRateSection/index.tsx
  src/components/sections/WorkReportResultSection/constants.ts
  src/components/sections/WorkReportResultSection/index.tsx
  src/components/sections/WorkReportResultSection/schema.ts
  src/components/sections/WorkReportResultSection/styled.ts
  src/components/sections/WorkReportResultSection/types.ts
  src/constants/apiEndpoints.ts
  src/constants/routes.ts
  src/hooks/useForm/index.ts
  src/hooks/useUserLocationTracking/index.tsx
  src/pages/AboutUsPage/styled.ts
  src/queries/adminPanel/useUpdateScoreSettings.ts
  src/queries/works/getNextUserWorks.ts
  src/queries/works/useCreateWorkReportResult.ts
  src/queries/works/useFinishWork.ts
  src/queries/works/useGetUserWorks.ts
  src/queries/works/useGetWorkInfo.ts
  src/queries/works/useGetWorksGroup.ts
  src/types/contracts/selfUserInfo.ts
  src/types/contracts/workReportResult.ts
  src/utils/getScoreSettingById.ts
  src/utils/getWorkStatusById.ts
Due: eslint --fix, prettier --write

fix: fixed attachemnts border color
  src/components/common/WorkImageAttachments/styled.ts
Due: eslint --fix

fix: adde router for unit tests
  src/utils/renderWithProviders.tsx
Due: eslint --fix

feat: updated manifest.json and index.html
  index.html
  public/index.html
  public/manifest.json
Due: prettier --write
